<%= render "form", team: @team %>


<!-- <form action="/teams/1" method="post">

  <label for="name">Enter Name</label>
  <input type="text" type="team[name]" value="Peter Corrado, Party of 4">

  <label for="name">Enter Users</label>
  <input type="text" type="team[tee_off_time]" value="Alex Corrado, David Gao, Ryan Kucera, Michel Toutoungy">

  <label for="name">Enter Tee-Off Time</label>
  <input type="text" type="team[users]" value="930">

  <input type="submit">


</form>
 -->
