<h1>All Teams</h1>

<!-- Insert form below if/when necessary -->


<ul>
  <% @teams.each do |team| %>
    <li>
      <h2><%= link_to team.name, team_path(team) %></h2>
      <p><%= team[:members] %></p>
      <p><%= team[:tee_off_time] %></p>
      <p><%= team[:score] %></p>
    </li>
    <% end %>
</ul>
