<% @team = Team.new %>
<%= render "form" %>



<!-- Hard-Coded Version of Form below, great for understanding the concept (Rails CRUD Video around 55 minute mark) -->

<!-- <form action="/teams" method="post">

  <label for="name">Enter Name</label>
  <input type="text" type="team[name]">

  <label for="name">Enter Tee-Off Time</label>
  <input type="text" type="team[tee_off_time]">

  <label for="name">Enter Member</label>
  <input type="text" type="team[users]">

  <input type="submit">



</form> -->
