<div class = 'bg'>
  <%= Time.now %>
  <br>
  <br>
  <%= "The Tournament Starts At 2018-07-07 09:00:AM" %>

  <div class = 'container'>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Golf Course
        </h1>
        <h2>About This Venue::
        </h2>
        <p class = 'paragraph'>
          Arundel Golf Club is an 18-hole facility located in SCOREGolf's Quebec Laurentides, near Mont-Tremblant. In 1929, Dr. H.J.Silver and Mr. Chris Golden founded the first Arundel Golf Club, named Barkmere Golf Course. Citizens from Barkmere, Arundel and Montreal bought shares. At that time, you had to be a shareholder to play on the course. In 1941, the club was closed to reopen in 1949. In 1954, the clubhouse was erected on the site of the current seventh green. In 1964, on the current site with a panoramic view of the Red River, the current pavilion was built and in 1987, the rustic dining room was built to host tournament groups. Dickie Moore, former Montreal Canadiens and Hockey Hall of Fame member, is the club's owner.
        </p>
      </div>
    </div>
  </div>
</div>
