<%= image_tag "golf.jpg"%>
  <div class = "container-fluid">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Welcome to the Annual Phi Kappa Pi Golf Tournament!
        </h1>
          <div class="row">
            <p class="lead font-weight-normal">
              The Alumni Society would like to invite you to the long-lasting tradition of the 2018 PKP Annual Golf Tournament in Arundel, Quebec happening on July 7th, 2018. For years, this event has brought all brothers back to an environment of camaraderie and joy, allowing everyone to hop on back on memory lane.
            </p>
          <!-- <div class="row"> -->
            <p class="lead font-weight-normal">
              This is an opportunity for actives and alumni to spend some time together to smoke cigars, have a few cold ones, sharpen golf skills and have a good old PKP time. We are proud to say this is the second year families are invited, and are looking forward to another great turnout!​
            </p>
          <!-- <div class="row"> -->
            <p class="lead font-weight-normal">
              Proceeds raised go towards helping the Active and Alumni Chapters in their work building a strong community of hardworking young men in university.
            </p>
          <!-- <div class="row"> -->
            <p class="lead font-weight-normal">
              Scroll down for info on the many activities available!
            </p>
          </div>
          <a class="btn btn-primary" href="#">Brace Yourself for 2019
          </a>
        </div>
      </div>
    </div>
  <!-- <div class = "container"> -->
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Event Information
        </h1>
        <h2>Where?</h2>
        <p class="lead font-weight-normal">
          Golfing: Arundel Golf & Country Club
          Accommodations: Le Grand Lodge Mont-Tremblant
          Dinner: Jim's Family Cottage
        </p>
        <h2>Costs?</h2>
        <p class="lead font-weight-normal">
          Golfing Fees + Obligatory Cart Fees
          Alumni: $75
          Actives: $55
        </p>
        <h2>Available Activities</h2>
        <h3>Golfing:</h3>
        <p class="lead font-weight-normal">
          Golfing at the lovely Arundel Golf & Country Club. There are twelve foursomes available, with first tee-off happening at 9:00 AM. Subsequent tee-offs will be happening every 8 minutes thereafter.
        </p>
        <h3>For the Families:</h3>
        <p class="lead font-weight-normal">
          Relaxation: massages and Scandinavian baths.
        </p>
        <p class="lead font-weight-normal">
          Outdoors: hiking or biking.
        </p>
        <p class="lead font-weight-normal">
          Motorized: airplane/helicopter tours, karting, boat rentals.
        </p>
        <h3>Relaxing at Jim's:</h3>
        <p class="lead font-weight-normal">
          Help out Team Eileen with dinner preparations.
        </p>
        <p class="lead font-weight-normal">
          Volunteer to look after the kids so families can go for massages and/or Scandinavian baths.
        </p>
        <p class="lead font-weight-normal">
          Brother Jim Ross will be hosting the dinner at his cottage beside a lake, minutes from the golf course.
        </p>
        <h3>Dinner at Jim's:</h3>
        <p class="lead font-weight-normal">
          Steak will be the main entree, with sides of baked potatoes, Caesar salad, stir-fried mushrooms, coleslaw, and homemade potato salad.
        </p>
        <p class="lead font-weight-normal">
          Included is fresh bread and more desserts you can count.
        </p>
        <p class="lead font-weight-normal">
          Reimbursement to Jim and his family for dinner will be $40 for alumni, and $25 for actives (or free if the actives help with preparations and cleaning).
        </p>
        <h2>What Do You Need To Do?</h2>
        <p class="lead font-weight-normal">
          1) Determine which activities you would like to participate in.
        </p>
        <p class="lead font-weight-normal">
          2) Make payment by following the link below, payment will not be accepted at the event.
        </p>
        <p class="lead font-weight-normal">
          3) Send your team preferences (teams of four) to derek.pickford@loreal.com
        </p>
        <p class="lead font-weight-normal">
          4) Remind your brothers, close and far, of the golf tournament. (We want to see everyone!)
        </p>
      </div>
    </div>
  <!-- </div> -->
  </div>
